#map {
    width: 1000px;
    /*largeur*/
    border: 1px black solid;
    /*bordure*/
    margin: auto;
    /*marge*/
    position: relative;
    /*position relative*/
    z-index: 3;
    /* priorité d' affichage*/
}


/*
#perso1 {
    position: absolute;
}

#perso2 {
    position: absolute;
}



#aide {
    width: 200px; /*largeur
    margin: auto; /*marge
    float: right; /*fixer à droite
    z-index: 1; /* priorité d' affichage
}

body {
    background-image: url(../img/fond.jpg); /*image de fond
    background-size: cover; /*étendu sur tout le background
}

h1 {
    font-size: 3em; /*taille caractère
    color: white;
    text-align: center;
}

p {
    font-size: 0.5em;
    color: white;
    text-align: left;
}
*/
