h1 {
    text-align: center;
    width: auto;
    height: 200px;
    font-size: 3em;
    vertical-align: center;
    z-index: 3;
    color: white;
}

header {
    background-color: rgb(36, 41, 46);
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: 0px;
}

body {
    background-size: cover;
    /*étendu sur tout le background*/
    background-color: rgb(63, 67, 72);
    /*rgb(36, 41, 46);*/
}

#map {
    width: 1000px;
    /*largeur*/
    border: 1px black solid;
    /*bordure*/
    margin: auto;
    position: relative;
    z-index: 3;
    /*priorité d' affichage*/
    opacity: 1;
}

#perso1 {
    position: absolute;
    /* pouvoir déplacer les personnages */
    z-index: 4;
}

#perso2 {
    position: absolute;
    /* pouvoir déplacer les personnages */
    z-index: 4;
}

.joueurClass {
    z-index: 4;
    max-width: 15%;
    height: 500px;
    margin: 10px;
    align-content: center;
    vertical-align: middle;
    background-color: white;
    border: 1px black solid;
    padding: 50px;
    position: fixed;
}

#joueur1 {
    bottom: 0;
    left: 0;
}

#joueur2 {
    bottom: 0;
    right: 0;
}

.recapClass {
    font-size: 2em;
    color: black;
    float: left;
    z-index: 4;
}

.rapportClass {
    font-size: 2em;
    color: black;
    float: left;
    z-index: 4;
}

.etatClass {
    font-size: 2em;
    color: black;
    float: left;
    z-index: 4;
}

